.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0 0 2em 0;

  label {
    color: #2C5537;
    font-size: 1em;
    font-weight: bolder;
    margin: 1em 1em 1em 0;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 2em 2em 2em;
    font-size: 1em;
    font-weight: normal;
    gap: 1em;

    &_current {
      width: 98%;
      color: #A7A7A7;
      border-bottom: 3px solid #A7A7A7;
      padding-bottom: 0.5em;
    }

    &_currentNav {

      color: #245501;
      font-weight: bolder;
      border-bottom: 5px solid #245501;
      padding-bottom: 0.5em;

    }


  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0em 0em 2em 0em;
    padding-bottom: 1.8em;
    border-bottom: 1px solid rgb(234, 234, 234);


    &_img {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      img {
        border-radius: 5em;
        margin: 0 1em 0 0;
      }

      h1 {
        font-size: 1.5em;
        font-weight: bold;

      }
    }

    &_containerButton {
      display: flex;
      flex-direction: row;
      margin-top: 2em;
      justify-content: space-between;
      gap: 0.5em;
    }

    &_buttonDesativar {
      display: flex;
      align-items: center;

      gap: 0.5em;
      padding: 0.3em 1.5em;

      font-weight: bold;
      color: #DE8074;
      font-size: 1em;
      background-color: #FFF1EF;
      border: #DE8074 1px solid;
      border-radius: 0.8em;
    }

    &_button {
      display: flex;
      align-items: center;

      gap: 0.5em;
      padding: 0.3em 1em;

      font-weight: bold;
      color: #68655C;
      font-size: 1em;
      background-color: #fff;
      border: #050504 1px solid;
      border-radius: 0.8em;
      width: auto;
      height: 3em;
    }

  }

  &__ContainerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em 0em 2em;
    padding: 0 0 2em 0;
    border: 2px solid rgba(0, 0, 0, 0.10);
    border-radius: 1em;

    textarea {
      font-family: 'Inter', sans-serif;
    }


    &_form {
      width: 90%;
      display: flex;
      flex-direction: column;

      margin: 2em 1em 1em 0em;
      font-size: 1em;

      label {
        margin: 0 0 0.5em 0;
        font-size: 0.9em;
        font-weight: bold;

      }

      &_input {
        width: 100%;
        background-color: #fff;

        padding: 0.5em;
        margin: 0.5em 0 1em -0.5em;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        font-weight: normal;

      }

      &_inputLarge {
        width: 100%;
        height: 10em;
        padding: 0.5em;
        margin: 0.1em 0 1em 0;
        border: 1px solid #A7A7A7;
        border-radius: 5px;
        font-size: 1em;
        font-weight: normal;
      }

      &_halfContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        row-gap: 1em;
        column-gap: 2em;

        &_input {
          width: 100%;
          margin: 0.5em 0 1em 0em;
          padding: 0.5em;

          border: 1px solid #A7A7A7;
          border-radius: 5px;
          font-size: 1em;


        }

        &_select {
          width: 107.67%;
          margin: 0.5em 0 1em 0em;
          padding: 0.5em 0.8em 0.5em 0.5em;
          background-color: #fff;

          border: 1px solid #A7A7A7;
          border-radius: 5px;
          font-size: 1em;

        }
      }

      &_threePartsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        row-gap: 1em;
        column-gap: 2em;
        margin: 0 0 1em 0;


        &_input {
          width: 100%;
          padding: 0.5em;
          border: 1px solid #A7A7A7;
          border-radius: 5px;
          font-size: 1em;
        }
      }

    }

    &_buttons {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: -1em;
      gap: 1em;

      link {
        text-decoration: none;
        color: #000;
      }

      button {
        width: 8em;

        padding: 0.5em 1em;
        margin: 1em 0 -1em 0;
        font-size: 1em;
        font-weight: normal;

        background-color: #FFF;

        border: 1px solid rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        cursor: pointer;
      }

      button:last-child {
        background-color: #245501;
      }

      &_link {
        text-decoration: none;
        color: #000;
      }

      &_linkWhite {
        text-decoration: none;
        color: #FFF;
      }

    }

  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 2em 0em 2em;
  padding: 0 0 2em 0;
  border: 2px solid rgba(0, 0, 0, 0.10);
  border-radius: 1em;

  &__header {

    margin: 2em 1em 0em 1em;

    &_link {
      color: #68655C;

      text-decoration: none;
      padding: 1.5em 3.5em 1.5em 1.3em;
      margin: -1.5em -3.5em -1.5em -1.3em;

    }

    &_containerButton {
      display: flex;
      flex-direction: row;
      margin: 1em;
      gap: 0.5em;

      &_button {
        display: flex;
        align-items: center;

        gap: 0.5em;
        padding: 0.8em 1.2em;

        font-weight: bold;
        color: #68655C;
        font-size: 1em;
        background-color: #fff;
        border: #050504 1px solid;
        border-radius: 0.8em;

        &_text {
          display: inline;
        }

        &_shorttext {
          display: none;
        }

      }

    }
  }

  &_buttonDesativar {
    display: flex;
    align-items: center;

    gap: 0.5em;
    padding: 0.3em 1.5em;

    font-weight: bold;
    color: #DE8074;
    font-size: 1em;
    background-color: #FFF1EF;
    border: #DE8074 1px solid;
    border-radius: 0.8em;
  }
}

.botaoDropdown {
  display: flex;
  border: #68655C 1px solid;
  background-color: #fff;
  border-radius: 0.8em;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  margin-right: 1em;

  &:hover {
    box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
  }

  &__lista {
    margin-top: 0.5em;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.8em;
    padding: 0.8em;
    background-color: white;
    right: 2.7em;
    box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);

  }

  &__button {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 0.9em;
    padding: 0.5em 0.5em 0.5em 0.5em;

    &:hover {
      background-color: #f0f0f0d7;
    }

    &_text {
      font-size: 1em;
      font-weight: bold;
      margin: 0.5em;
    }
  }

}

.botoes {
  display: inline;
}

.dropdown {
  display: none;
}


@media all and (min-width: 459px) and (max-width: 880px) {
  .container {
    &__profile {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;

      &_containerButton {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: -1em;

        &_button {
          &_text {}

          &_shorttext {
            display: none;
          }

        }

      }
    }

    &__ContainerForm {
      flex-direction: column;

      &_form {
        &_textarea {
          display: flex;
          width: 100%;
        }

        &_halfContainer {
          grid-template-columns: 1fr 1fr;

          &_input {
            display: flex;
            flex: 1;
          }

        }

        &_threePartsContainer {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  .botoes{
    display: inline;
  }
  .dropdown{
    display: none;
  }

}

@media all and (max-width: 460px) {
  .container {
    &__profile {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-right: -2em;
    }

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;

      &_containerButton {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: -1em;

        &_button {
          &_text {
            display: none;
          }

          &_shorttext {
            display: inline;
          }

        }

      }
    }

    &__ContainerForm {
      flex-direction: column;

      &_form {
        &_textarea {
          display: flex;
          width: 100%;
        }

        &_halfContainer {
          grid-template-columns: 1fr;

          &_input {
            display: flex;
            flex: 1;
          }

        }

        &_threePartsContainer {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .botoes{
    display: none;
  }
  .dropdown{
    display: inline;
  }

}