@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.title{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
    margin: 2em 0 2em 7.1em;
    font-size: 24px;
    text-align:left;
}