

.menu{
    width: auto;
    padding: 10em 10em 10em 10em;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    gap: 1em;


    
}