.menu {
    width: auto;
    padding: 4em 4em 4em 4em;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;


    &_container{
        display: flex;
        width: 650px;

        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1em;

    }
    
}

.mapa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 0;

    &__img {
        width: 53%;
    }
}
@media only screen and (max-width: 480px) {
    .menu {
        text-align: center;
        align-items: center;
        align-content: center;
        padding: 1em 0.3em 1em 0.3em;
    }
}