.home{
    display: flex;
    align-items: center;
    justify-content: center;
    .home__content{
        width: 34em;
        text-align: left;
        margin: 6em 2em 6em 6em;

        &_title{
            padding: 0em 0em 1em 0em;
            font-size: 1.5em;
            font-weight: bold;
            color: #245501;
        }
        &_subtitle{
            
            text-align: justify;
            font-size: 1.1em;
        }
    }
    .home__login{
      display: flex;
      flex-direction: column;
      box-sizing: content-box;

      margin: 6em 6em 6em 2em;
      width: 35em;
      border-radius: 1em;

      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: inset;
    
      &_title{
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        padding: 2.5em;

        }
      &_label{
        width: 100%;
        height: 3em;
        margin: 1em 0em 1em 1em;
          p{
            margin: 0em 0em 0.5em 0em;
            font-size: 0.75em;
            font-weight: 500;
          }
          input{
            width: 90%;
            height: 3em;
            
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 0.5em;

          
            &:focus {
                outline: none;
            }}
      }
      
      &_errorLogin{
        color: red;
      }

      &_subtitle{
        text-align: right;
        font-size: 0.8em;
        font-weight: lighter;
        margin: 1em 1.5em 2em 0em;

      }

      &_button{
        width: 91.5%;
        height: 3em;

        margin: 0.5em 1em 1.5em 1em;

        color: #fff;
        background-color: rgba(36, 85, 1, 1);
        border-radius: 0.5em;

      }

      &_subtitle1{
        text-align: center;
        font-size: 0.8em;
        font-weight: normal;
        margin: 0em 1.5em 2em 0em;
        span{
          color: rgba(36, 85, 1, 1);
          font-weight: bold;
        }
      }


    }
}