.header {
  display: flex;
  flex-direction: column;
  align-items: center;


  margin: 0 2em 2em 2em;

  h1 {
    font-size: 1em;
    font-weight: bold;
  }

  &__container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    font-size: 1em;
    gap: 1em;
    margin-left: 2em;

    button {
      display: flex;
      align-items: center;

      gap: 0.5em;
      padding: 1em;

      font-weight: bold;
      color: #68655C;
      background-color: #fff;
      border: #68655C 1px solid;
      border-radius: 0.8em;

      &:hover {
        box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
      }
    }

    &_link {
      color: #68655C;

      text-decoration: none;
      padding: 1.5em 3.5em 1.5em 1.3em;
      margin: -1.5em -3.5em -1.5em -1.3em;

    }
  }
}

.botaoDropdown {
  display: flex;
  border: #68655C 1px solid;
  background-color: #fff;
  border-radius: 0.8em;
  width: 2.5em;
  height: 2.5em;
  justify-content: center;
  align-items: center;
  margin-right: 1em;

  &:hover {
    box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
  }

  &_img{
    margin-left: 0.5em;
  }

  &__lista {
    margin-top: 0.5em;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.8em;
    padding: 0.8em;
    background-color: white;
    right: 2em;
    box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);

  }

  &__button {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 0.9em;
    padding: 0.5em 0.5em 0.5em 0.5em;

    &:hover {
      background-color: #f0f0f0d7;
    }
  }

}

.botoes{
  display: inline;
  display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    font-size: 1em;
    gap: 1em;
    margin-left: 2em;

    button {
      display: flex;
      align-items: center;

      gap: 0.5em;
      padding: 1em;

      font-weight: bold;
      color: #68655C;
      background-color: #fff;
      border: #68655C 1px solid;
      border-radius: 0.8em;

      &:hover {
        box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
      }
    }

    &_link {
      color: #68655C;

      text-decoration: none;
      padding: 1.5em 3.5em 1.5em 1.3em;
      margin: -1.5em -3.5em -1.5em -1.3em;

    }
}
.dropdown{
  display: none
}

@media all and (max-width: 460px) {

  .botoes{
    display: none;
  }
  .dropdown{
    display: inline
  }

}