

.menu{
    width: auto;
    padding: 10em 10em 10em 10em;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    gap: 1em;


    
}
@media only screen and (max-width: 480px) {
    .menu{
        text-align: center;
        align-items: center;
        align-content: center;
        padding: 1em 0.3em 1em 0.3em;
    }
}