@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.btn{
    font-family: 'Inter', sans-serif;
    width: 9rem;
    height: 3rem;
    background-color: #1A5537;
    color: white;
    border: 1px;
    border-radius: 8px;
    font-weight: bold;
}

.whitebtn{
    font-family: 'Inter', sans-serif;
    width: 9rem;
    height: 3rem;
    background-color: white;
    color: #4D4D4D;
    border: 1px solid #4D4D4D;
    border-radius: 8px;
    font-weight: bold;
}