.swiper {
  width: 100%;
  height: 14em;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.deletarImg{
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  font-size: 1.3em;
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em 0.8em;
    text-decoration: none;
    border: #DE8074 1px solid;
    border-radius: 1em;
    background-color: #FFF1EF;
  }  
}

.label{
  color: #2C5537;
  font-size: 1em;
  font-weight: bolder;
}