.footer{
  width: 100%;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: relative;
  bottom: 0;

  flex-wrap: wrap;
  gap: 1em;

  background-color: #245501;
  &__logo_sementes{
    align-items: center;
  }
  
  &__social{
    gap: 1em;
    display: flex;
  }

  @media screen and (max-width: 700px) {
    height: 15em;

    bottom: 0;
    position: relative;

    &__logo_sementes{
      padding-top: 1em;
      align-items: center;
    }

    &__social{
      gap: 1em;
      display: flex;
      padding-bottom: 1em;
    }
  }
}
